tmp*.*
rawdata/downloadList
rawdata/*.pdf
processing/downloadList.tsv
processing/*-page-*.csv
.~lock*
ta_covid19_comuni_time.csv
f-page-*
webservices/regioneLombardia/TA_COVID19_RL/*
webservices/iss_epicentro/rawdata/*
.vscode/settings.json
google-chrome-stable_current_amd64.deb*
