tmp*.*
rawdata/downloadList
rawdata/*.pdf
processing/downloadList.tsv
processing/*-page-*.csv
.~lock*
ta_covid19_comuni_time.csv
f-page-*
webservices/regioneLombardia/TA_COVID19_RL/*
webservices/iss_epicentro/rawdata/*
.vscode/settings.json
google-chrome-stable_current_amd64.deb*
webservices/agenas/rawdata/*
webservices/iss_epicentro_dati/rawdata/*
webservices/vaccini/rawdata/*.csv
webservices/vaccini/rawdata/*.json

webservices/COVID-19Aree/rawdata/*
webservices/regioneLombardiaStatiClinici/rawdata/*

elaborazioni/dpc_covid19/soglia250/.config
elaborazioni/dpc_covid19/soglia250/rawdata

webservices/regioneLombardiaVaccini/rawdata/*

webservices/INFN_iss/rawdata/*
webservices/INFN_iss/processing/iss_age_date/*.csv
webservices/INFN_iss/processing/iss_bydate_italia/regioni/*
webservices/INFN_iss/processing/iss_80plus/*.csv
